<footer class="footer">
    <div class="footer__top top-footer">
        <div class="container">
            <div class="top-footer__content">
                <div class="top-footer__left">
                    <a class="top-footer__logo">
                        <img loading="lazy" src="img/icon/logo.svg" alt="">
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li>
                            <a href="#">Наши партнеры</a>
                        </li>
                        <li>
                            <a href="#">Правила продажи фигур</a>
                        </li>
                    </ul>
                </div>
                <div class="top-footer__center">
                    <div class="top-footer__column">
                        <a href="#" class="top-footer__title">
                            Каталог
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    Фигуры для сада
                                </a>
                            </li>
                            <li>
                                <a href="#">Фигуры для благоустройства города</a>
                            </li>
                            <li>
                                <a href="#">Фигуры для бизнеса</a>
                            </li>
                            <li>
                                <a href="#">Фигуры для детей</a>
                            </li>
                            <li>
                                <a href="#">Фигуры по индивидуальным проектам</a>
                            </li>
                            <li>
                                <a href="#">Фигуры для интерьера</a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-footer__column">
                        <a href="#" class="top-footer__title">
                            Компания
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    Фигуры на заказ
                                </a>
                            </li>
                            <li>
                                <a href="#">О компании</a>
                            </li>
                            <li>
                                <a href="#">Доставка и оплата</a>
                            </li>
                            <li>
                                <a href="#">Галерея работ</a>
                            </li>
                            <li>
                                <a href="#">Отзывы</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="top-footer__right">
                    <div class="top-footer__title">
                        Наши Контакты
                    </div>
                    <div class="socials">
                        <a href="#">
                            <img loading="lazy" src="img/icon/telegramm.svg" alt="">
                        </a>
                        <a href="#">
                            <img loading="lazy" src="img/icon/watsapp.svg" alt="">
                        </a>
                        <a href="#">
                            <img loading="lazy" src="img/icon/mail.svg" alt="">
                        </a>
                        <a href="#">
                            <img loading="lazy" src="img/icon/vk.svg" alt="">
                        </a>
                        <a href="#">
                            <img loading="lazy" src="img/icon/ok.svg" alt="">
                        </a>
                    </div>
                    <div class="top-footer__contacts">
                        <a href="tel:74956467655" class="top-footer__contact">
                            <div class="top-footer__icon">
                                <img loading="lazy" src="img/icon/phone2.svg" alt="">
                            </div>
                            <div class="top-footer__text phone">
                                +7 495 <span>646-76-55</span>
                            </div>
                        </a>
                        <div class="top-footer__contact">
                            <div class="top-footer__icon">
                                <img loading="lazy" src="img/icon/location2.svg" alt="">
                            </div>
                            <div class="top-footer__text">
                                Новосибирская область, г.Бердск, ул.Пионерская,15А
                            </div>
                        </div>
                        <div class="top-footer__contact">
                            <div class="top-footer__icon">
                                <img loading="lazy" src="img/icon/calendar2.svg" alt="">
                            </div>
                            <div class="top-footer__text">
                                Пн-Пт: 10:00 - 18:00, Сб-Вс: <span>выходной</span>
                            </div>
                        </div>
                        <a href="mailto:sib.top@mail.ru" class="top-footer__contact">
                            <div class="top-footer__icon">
                                <img loading="lazy" src="img/icon/mail3.svg" alt="">
                            </div>
                            <div class="top-footer__text">
                                sib.top@mail.ru
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom bottom-footer">
        <div class="container">
            <div class="bottom-footer__content">
                <div class="bottom-footer__copy">
                    © 2024 ST Все права защищены
                </div>
                <div class="bottom-footer__text">
                    Разработка сайта - <a href="#">Miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>