<header class="header">
  <div class="container">
    <div class="header__content">
      <a data-da=".header__body, 992, first" href="#" class="header__logo">
        <img src="img/icon/logo.svg" alt="">
      </a>
      <div class="header__body">
        <div class="header__top top-header">
          <div class="top-header__contacts">
            <div class="top-header__contact">
              <div class="top-header__icon">
                <img src="img/icon/calendar.svg" alt="">
              </div>
              <div class="top-header__title">
                <div class="top-header__text">
                  Пн-Пт: <span>10:00 - 18:00,</span>
                </div>
                <div class="top-header__text">
                  Сб-Вс: <span class="cl">выходной</span>
                </div>
              </div>
            </div>
            <div class="top-header__contact">
              <div class="top-header__icon">
                <img src="img/icon/location.svg" alt="">
              </div>
              <div class="top-header__title">
                <div class="top-header__text">
                  Новосибирская область,<br> г.Бердск, <span>ул.Пионерская,15А</span>
                </div>
              </div>
            </div>
          </div>
          <div class="top-header__menu">
            <ul>
              <li>
                <a href="#">Доставка</a>
              </li>
              <li>
                <a href="#">Производство</a>
              </li>
              <li>
                <a href="#">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="socials">
            <a href="#">
              <img loading="lazy" src="img/icon/telegramm.svg" alt="">
            </a>
            <a href="#">
              <img loading="lazy" src="img/icon/watsapp.svg" alt="">
            </a>
            <a href="#">
              <img loading="lazy" src="img/icon/mail.svg" alt="">
            </a>
            <a href="#">
              <img loading="lazy" src="img/icon/vk.svg" alt="">
            </a>
            <a href="#">
              <img loading="lazy" src="img/icon/ok.svg" alt="">
            </a>
          </div>
        </div>
        <div class="header__bottom bottom-header">
          <div data-da=".top-header, 1250, first" class="bottom-header__catalog catalog-bottom-header">
            <div class="catalog-bottom-header__titles">
              <div class="catalog-bottom-header__icons">
                <img class="icon1" src="img/icon/catalog.svg" alt="">
                <img class="icon2" src="img/icon/close2.svg" alt="">
              </div>
              <div class="catalog-bottom-header__title">Каталог</div>
            </div>
            <div class="catalog-bottom-header__body">
              <ul>
                <li>
                  <a href="#">
                    <img loading="lazy" src="img/image2.webp" alt="">
                    <span>Фигуры для сада</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img loading="lazy" src="img/image3.webp" alt="">
                    <span>Фигуры для детей</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img loading="lazy" src="img/image4.webp" alt="">
                    <span>Фигуры для благоустройства города</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img loading="lazy" src="img/image5.webp" alt="">
                    <span>Фигуры по индивидуальным проектам</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img loading="lazy" src="img/image6.webp" alt="">
                    <span>Фигуры для бизнеса</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img loading="lazy" src="img/image7.webp" alt="">
                    <span>Фигуры для интерьера</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div data-da=".header__content, 992, last" class="bottom-header__search search-header">
            <div class="search-header__body">
              <input autocomplete="off" type="text" name="form[]" placeholder="Что будем искать?">
              <button type="button" class="search-header__button">
                <img src="img/icon/search.svg" alt="">
              </button>
            </div>
          </div>
          <div data-da=".top-header__contacts, 768, last" class="bottom-header__contacts">
            <div class="bottom-header__contact">
              <a href="tel:74956467655" class="bottom-header__phone">
                +7 495 <span>646-76-55</span>
              </a>
              <a href="mailto:sib.top@mail.ru" class="bottom-header__mail">
                <img src="img/icon/mail2.svg" alt="">
                <span>sib.top@mail.ru</span>
              </a>
            </div>
            <a data-popup="#call" href="#" class="btn btn-border">
              <span>Заказать звонок</span>
            </a>
          </div>
          <div class="bottom-header__icon">
            <div class="icon-menu">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>