:root {
  --container-width: 1326px;
  --container-padding: 30px;
  --theme-color-accent: #40b661;
  --theme-color-text-common: #081e16;

  --font-family: "FuturaNew", sans-serif;
  --second-family: "Jost", sans-serif;
}
